@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    font-size: 24px
  }
}

.max-w-prose, .prose {
  max-width: 720px;
}

.prose > pre {
  padding: 0;
  margin: 0;
  background: transparent;
}

.prose > pre > code, .prose > pre > div {
  border-radius: 10px;
  display: block;
  background-color: rgb(47, 47, 47);
  padding: 1.0em 1.5em !important;
  margin: 0.25em 0 !important;
}
