@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --root-bg: oklch(0 0 0);
  --color-primary: #facc15;
  --color-primary-content: #1c1917;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #eab308;
  --color-primary-content: #1c1917;
}

:root {
  --color-primary: #facc15 !important;
  --color-primary-content: #1c1917 !important;
}

[data-theme='dark'] {
  --color-primary: #facc15 !important;
  --color-primary-content: #1c1917 !important;
}

[data-theme='light'] {
  --color-primary: #eab308 !important;
  --color-primary-content: #1c1917 !important;
}
